/************ Custom Font ************/
/* @font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
} */
/* @font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
} */
/* @font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
} */

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
}
.fontlink{
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(83, 21, 58, 0.5) 
}
/************ Navbar Css ************/
.navibar {
  background-color: transparent;
 display: flex;
 justify-content: space-between;
 padding: 1rem;
 position: fixed;
 width: 100%;
 font-size: 1.3rem;
 z-index: 1000;
}
.scroll-navi{
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  display: flex;
 justify-content: space-between;
 padding: 1rem;
 position: fixed;
 width: 100%;
 font-size: 1.3rem;
 z-index: 1000;
}
.navibar a , .scroll-navi a{
  text-decoration: none;
  color: #fff;
}
.skill-nav {
margin: 0rem 1rem;
}
.button{
  border: 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: transparent;
}
.scroll-navi .button {
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}
.scroll-navi .button:hover{
  color: white;
}
.navibar a:hover , .scroll-navi a:hover{
  color: #B8B8B8;
}
.navibar .button:hover{
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}
.ham{
  width: 20px;
  display: none;
}
.close-menu{
  width: 20px;
  display: none;
}
.mobile-menu{
  display: none;
}
.about-nav{
  margin-left: 1rem;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./images/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.intro-cont{
  perspective: 150px;
 display: flex;
 align-items: center;
 justify-content: center;
  width: 100%;
  height: 100vh;
  background: #151515;
  background-size: cover;
  background-image: url('./images/color-sharp.png');
}
.intro{
  animation: front 3s linear infinite;
  width: 15%;
}
@keyframes front {
  0% {
      transform: translateZ(-10px);
  }
  50% {
      transform: translateZ(10px);
  }
  100% {
      transform: translateZ(-10px);
  }
}


.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* ABOUT ME//////////// */
.aboutme{
  width: 80%;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}
.aboutcontainer{
  background-color: black;
  background-image: url('./images/color-sharp.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutcontainer h2 {
	font-size: 45px;
	font-weight: 700;
  padding-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid transparent;
  background:
    left 
    bottom
    transparent    
    no-repeat; ;
  background-size:100% 3px ;/* if linear-gradient, we need to resize it */
  background-image: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}

/************ Skills Css ************/
.skill {
  /* padding: 0 0 0 0; */
  position: relative;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  width: fit-content;
  background:
    left 
    bottom
    transparent    
    no-repeat; ;
  background-size:70% 3px ;
 background-image: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); 
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 35px 0;
}
.skilldiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}
.skilltext{
  width: 70%;

}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.slider, .slider2{
  height: 250px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display:flex;
  width: calc(250px * 8);
  animation: scroll 40s linear infinite;
}
.slide-track2{
  display:flex;
  width: calc(250px * 18);
  animation: scroll2 40s linear infinite;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 4));
  }
}
@keyframes scroll2{
  0%{
    transform: translateX(calc(-250px * 9));
  }
  100%{
    transform: translateX(0);
  }
}
.slide-track:hover, .slide-track2:hover{
  animation-play-state: paused;
}
.slide , .slide2{
  /* height: 200px; */
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
h5:hover{
  transform: translateZ(20px);
  transition: transform 1s;
}
.slider::before , .slider::after, .slider2::before , .slider2::after{
  background: linear-gradient(to right, #151515 0% , rgba(255,255,255,0) 100%);
  content:'';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before, .slider2::before{
  left: 0;
  top: 0;
}
.slider::after, .slider2::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.tool{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 0rem;
}
.tools{
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  align-items: center;
  border-radius: 10px;
  font-size: 1rem;
  background-image: url('./images/color-sharp.png');
  background-position: 10%;
  box-shadow: 2px 1px 5px #AA367C;
  padding-right: 3rem;
  padding-left: 3rem;
  width: 100%;
 justify-content: center;
}
.softtools{
  background-image: url('./images/color-sharp.png');
  background-position: 10%;
  box-shadow: 2px 1px 5px #AA367C;
  display: flex;
  justify-content: center;
  margin: 1rem;
  height: 100px;
}
.toolang{
 display: flex;
 flex-direction: column;
 align-items: center;
  position: relative;
  background-image: url('./images/banner-bg.png');
  padding: 50px 0;
}
.toolang h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.toolang h3 {
	font-size: 20px;
	font-weight: 600;
  text-align: center;
}
.toolang p {
	font-size: 18px;
	font-weight: 500;
  text-align: center;
}
h4{
background: linear-gradient(to right, #f32170,
#ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.deve{
  background: linear-gradient(to right, #f32170,
#ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  width: fit-content;
  background:
    left 
    bottom
    transparent    
    no-repeat; ;
  background-size:70% 3px ;
 background-image: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); 

}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 25%;
  /* width: 100%; */
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 1.5vw;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-fourth {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0rem;
  height: 150px;
  /* border: 1px solid; */
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.8px;
}
.proj-txtx p {
  font-size: 1vw;
  color: #fff;
  font-weight: 700;
  width: 100%;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
.git,.live , .about{
  /* border: 1px solid; */
  /* margin-left: 1rem; */
  padding: 0.5rem;
  background-image: url('./images/color-sharp.png');
  background-position: 10%;
  box-shadow: 2px 1px 5px #AA367C;
  color: #fff;
  cursor: pointer;
  font-size: 1vw;
  border-radius: 10px;
  margin-top: -1rem;
}
.code{
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.code a{
  text-decoration: none;
}
.about-page{
  background-image: url('./images/color-sharp.png');
  /* background-position: 10%; */
  background-size: cover;
  background-color: #121212;
  position: fixed;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  z-index: 1000000;
  transition: all 1s;
  padding: 1rem;
  height: 70%;
  overflow-y: auto;
  border-radius: 10px;
  display: none;
  box-shadow: 0px 1px 10px #AA367C;
}
.stack{
 font-style: italic;
}
.users{
 font-weight: 800;
}
.close{
  position: absolute;
  display: flex;
  align-items: center;
  top: 5%;
  left: 90%;
  border: 1px solid;
  height: 30px;
  width: 30px;
  font-size: 2rem !important;
  border-radius: 50%;
  cursor: pointer;
}
.close:hover{
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
}
.cl{
 text-align: center !important;
 transform: translateY(35%);
}
.about-title{
  background: linear-gradient(to right, #f32170,
#ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.about-page p{
  width: 100%;
  text-align: left;
}
.about-img{
  border-radius: 10px;
}
.about-page h3{
  margin-top: 3rem;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 90000;
  transition: all 1s;
  display: none;
}

/************ Contact Css ************/
.contact {
  background: #151515;
  padding: 60px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contactimage{
  width: 50%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
  margin-top: 1rem;
}
.mail{
  background-color: transparent;
  border: 2px solid #AA367C;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 1rem;
}
.contact-me{
  padding: 0 1rem;
  padding-bottom: 0.2rem;
}
.mail:hover{
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  color: #fff;
}
.contactmail{
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
}
/************ Footer Css ************/
.footer {
display: flex;
flex-direction: column;
align-items: center;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  /* background-image: url('./images/footer-bg.png'); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.social-icon a img{
  margin: 1rem 1rem 3rem 1rem;
  width: 50px;
  border: 2px solid #AA367C;
  padding: 0.5rem;
  border-radius: 10px;
}
.social-icon a img:hover{
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
}
.social-icon{
  display: flex;
  /* justify-content: center; */
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.head{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: scale(0);
}

.showhead{
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition: all 1s;
}
.content{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.showcontent, .showdev{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
.dev{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(100%);
}
.tag{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: rotateY(150deg)
}
.showtag{
  opacity: 1;
  filter: blur(0);
  transition: all 1s ease-in-out;
  transform: rotateY(0deg)
}
@media (max-width:1000px) {
  .proj-txtx {

    height: 110px;
    /* border: 1px solid; */
  }
}

@media (max-width:900px) {
  .proj-txtx {

    height: 100%;
    /* border: 1px solid; */
  }
}


@media (max-width:800px) {
  .proj-txtx{
    height: 150px;
    margin-top: 1rem;
  }
  .proj-txtx h4 {
    font-size:3vw;
  }
  .proj-txtx span {
    font-size: 3vw;
  }
  .proj-txtx p {
    /* font-size: 10px; */
    width: 100%;
  }
  .git,.live, .about{
    font-size: 1vw;
    margin-top: 0rem;
  }
  .code{
    margin-top: -1rem;
  }
  .new-email-bx{
    display: flex;
    flex-direction: column;
  }
  .newsletter-bx {
    padding: 85px 25px;
  }
  .new-email-bx button {
    padding: 10px 65px;
    margin-top: 1rem;
  }
  .proj-txtx{
    padding-top: 0.5rem;
  }
  .about-page{
    background-image: url('./images/color-sharp.png');
    background-color: #121212;
    position: fixed;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    z-index: 1000000;
    transition: all 0.5s;
    padding: 1rem;
    overflow-y: auto;
    border-radius: 10px;
  }
  .intro{
    animation: front 3s linear infinite;
    width: 40%;
  }
  .contact{
    flex-direction: column;
  }
}

@media (max-width:700px) {
  .project .nav.nav-pills .nav-item {
    width: 100%;
  }
  .project .nav.nav-pills {
    border-radius: 0
  }
  .nav-link#projects-tabs-tab-first {
    border-radius: 0px 0px 0px 0px;
  }
  .nav-link#projects-tabs-tab-second {
    border:    1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-third {
    border:    1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-fourth {
    /* border: 0; */
    border-radius: 0 0px 0px 0;
  }
  .proj-txtx{
    padding-top: 0.5rem;
      height: 150px;
      margin-top: 1rem;
  }
  .new-email-bx{
    display: flex;
    flex-direction: column;
  }
  .newsletter-bx {
    padding: 85px 25px;
  }
  .new-email-bx button {
    padding: 10px 65px;
    margin-top: 1rem;
  }
  .intro{
    animation: front 3s linear infinite;
    width: 40%;
  }
}


@media (max-width:500px) {
  .project .nav.nav-pills .nav-item {
    width: 100%;
  }
  .project .nav.nav-pills {
    border-radius: 0
  }
  .nav-link#projects-tabs-tab-first {
    border-radius: 0px 0px 0px 0px;
  }
  .nav-link#projects-tabs-tab-second {
    border:    1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-third {
    border:    1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-fourth {
    /* border: 0; */
    border-radius: 0 0px 0px 0;
  }
  .proj-txtx{
    padding-top: 0.5rem;
  }
  .proj-txtx h4 {
    font-size: 6vw;
  }
  .proj-txtx span {
    font-size: 15px;
  }
  .proj-txtx p {
    font-size: 3vw;
  }
  .proj-txtx{
    padding-top: 1rem;
      height: 150px;
      margin-top: 0rem;
  }
  .git,.live,.about{
    font-size: 3vw;
  }
  .new-email-bx{
    display: flex;
    flex-direction: column;
  }
  .newsletter-bx {
    padding: 85px 25px;
  }
  .new-email-bx button {
    padding: 10px 65px;
    margin-top: 1rem;
  }
  .about-page{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    z-index: 1000000;
    transition: all 0.5s;
    padding: 1.5rem;
    height: 95vh;
    overflow-y: auto;
    border-radius: 10px;
  }
  .intro{
    animation: front 3s linear infinite;
    width: 40%;
  }
  .project .nav.nav-pills .nav-link {
    font-size: 3vw;
  }
  .hidden{
    display: none;
  }
  .ham{
    display: block;
    height: 20px;
    margin-top: -0.5rem;
    cursor: pointer;
  }
  .navibar{
    align-items: center;
  }
  .scroll-navi .ham{
    margin-top: 0.5rem;
  }
  .scroll-navi .logo{
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .close-menu{
    display: block;
    position: absolute;
    top: 5%;
    height: 20px;
    left: 90%;
    cursor: pointer;
  }
  .ray{
    display: flex;
    flex-direction: column;
  }
  .mobile-menu{
    background: #151515;
    background-size: cover;
    background-image: url('./images/color-sharp.png');
    text-align: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 6vw;
  }
  .mobile-menu a{
    text-decoration: none;
    color: #fff;
  }
  .skill-nav{
    margin: 1rem 0;
  }
  .mobilebutton{
    margin-top: 3rem;
  }
  .mobile-nav{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(-100%);
  }
  .showmobile-nav{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 1s ease-in-out;
  }
  .about-nav{
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .home-nav{
    opacity: 0;
    transition: all 1s ease-in;
  }
  .showhome-nav{
    opacity: 1;
    transition: all 1s ease-in;
    transition-delay: 1s;
  }
  .showabout-nav{
    opacity: 1;
    transition: all 1s ease-in;
    transition-delay: 1.5s;
  }
  .showskill-nav{
    opacity: 1;
    transition: all 1s ease-in;
    transition-delay: 2s;
  }
  .showproject-nav{
    opacity: 1;
    transition: all 1s ease-in;
    transition-delay: 2.5s;
  }
  .showmobilebutton{
    opacity: 1;
    transition: all 1s ease-in;
    transition-delay: 3s;
  }
}